<% layout('/layouts/boilerplate') -%>
    <%= success %>
    <div class="body">
        <h3>All Listings</h3>
    
    <!-- <form action="/listings/new" method="get">
        <button>Create new listing</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2  row-cols-sm-1">
    <% for(let listing of allListing) { %>
        <a href="/listings/<%=listing._id %>" class="listing-link">
        <div class="card  listing-card" >
          <img src="<%= listing.image.url ===""?"https://www.istockphoto.com/photo/young-woman-checking-her-train-in-time-board-gm628109306-111405847?searchscope=image%2Cfilm":listing.image.url;%>"  
            class="card-img-top"   
            alt="Listing_image"  
            style="height: 18rem; width: auto;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text"> <b><%= listing.title %> </b><br>
                &#x20B9; <%= listing.price ? listing.price.toLocaleString('en-IN') : 'N/A' %>/night</p>
            </div>
          </div>
        </a>
      <% } %>
    </div>
    </div> 




